.container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.status {
  position: absolute;
  display: flex;
  align-items: center;
}

.loader {
  margin-left: 10px;
  transform: scale(.4);
}

.buttons {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}

.button {
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-left: 1px solid var(--border-color);
  background-color: var(--white);
  cursor: pointer;

  &:first-child {
    border: none;
  }

  &.active {
    background-color: var(--primary);
  }
}

.remove-button {
  margin-left: auto;
  align-self: flex-end;
}