html,
body,
#root {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

:root {
  --white: #fff;
  --black: #333;
  --light-gray: #dddddd;
  --gray: #aaa;
  --background-color: #f4f3ec;
  --primary: #eb890e;
  --blue: #0d6efd;
  --green: #42b883;
  --ozon: #b2cdfd;
  --wb: #e4c4ff;
  --red: rgb(189, 59, 59);
  --beige: #f4f3ec;
  --yellow: #fffba8;
  --red-orange: #D8261A;
  --border-color: #ccc;
}

* {
  box-sizing: border-box;
}