.container {
  min-width: 800px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.loader-container {
  margin: 10px;
}

.message {
  margin: 10px;
  font-size: 18px;
  text-align: center;
}

.order {}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.order-info-grid {
  display: grid;
  grid-template-columns: minmax(500px, 1fr) 1fr;
}